<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - MicroBlog</title>
    {% else %}
    <title>MicroBlog</title>
    {% endif %}
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
<div>文件管理平台:
    <a href="{{ url_for('index') }}">主页</a> |
    <a href="{{ url_for('login') }}">登录</a> |
    <a href="{{ url_for('logout') }}">注销</a> |
    <a href="{{ url_for('test') }}">测试页面</a>

</div>
<hr color="blue"/>
{% with msgs = get_flashed_messages() %}
{% if msgs %}
{% set i = 0 %}
<div>
    <ul>
        {% for msg in msgs %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% block content %} {% endblock %}
</body>
</html>